<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.think.eduhelper">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AccountPage" />
        <activity
            android:name=".ProfileSetting"
            android:parentActivityName=".AccountPage" />
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TaskPageActivity"
            android:parentActivityName=".AccountPage" />
        <activity
            android:name=".Post.ui.PostActivity"
            android:parentActivityName=".TaskPageActivity" />
        <activity android:name=".FirebaseChatActivity" />
        <activity
            android:name=".Chat.ui.Activities.ChatActivity"
            android:parentActivityName=".Chat.ui.Activities.UserListingActivity" />
        <activity android:name=".ChattingActivity" />
        <activity android:name=".Chat.ui.Activities.SplashActivity" />
        <activity
            android:name=".Chat.ui.Activities.UserListingActivity"
            android:parentActivityName=".AccountPage" />
        <activity android:name=".Post.ui.PostListingActivity"></activity>
    </application>

</manifest>